<header>
  <ng-container *ngIf="authService.isLoggedIn()">
    <app-button-link title="Home" active="active"></app-button-link>

    <app-button-link
      color="accent"
      link="login"
      title="Logout"
      (click)="authService.logout()"
    ></app-button-link>
  </ng-container>

  <ng-container *ngIf="authService.isLoggedOut()">
    <app-button-link title="Home" isDisabled="true"></app-button-link>

    <app-button-link
      color="accent"
      link="login"
      title="Login"
      active="active"
    ></app-button-link>
  </ng-container>
</header>
