<mat-form-field class="field">
  <mat-label>{{ placeholder }}</mat-label>
  <input
    matInput
    (keydown.enter)="onEnterClick($event)"
    [type]="isPassword() && hide ? inputType.password : inputType.text"
    [required]="required"
    [(ngModel)]="value"
  />

  <mat-error *ngIf="errorValue">{{ errorValue }}</mat-error>

  <button
    *ngIf="isPassword()"
    mat-icon-button
    matSuffix
    (click)="hide = !hide"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hide"
  >
    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</mat-form-field>
