<main class="main">
  <form [formGroup]="loginForm">
    <app-input
      placeholder="Enter your email"
      required="true"
      formControlName="email"
      [errorValue]="errorValue"
    ></app-input>

    <app-input
      placeholder="Enter your password"
      [type]="type.password"
      formControlName="password"
    ></app-input>

    <div class="form-buttons">
      <button mat-flat-button color="primary" (click)="login()">Login</button>
      <button mat-stroked-button (click)="register()">Register</button>
    </div>
  </form>
</main>
