<ng-container *ngIf="item.type === 'input'">
  <mat-form-field cdkDrag [ngStyle]="item.style">
    <mat-label>input</mat-label>
    <input matInput />
  </mat-form-field>

  <app-form-settings
    [item]="item.style"
    *ngIf="idx"
    [idx]="idx"
  ></app-form-settings>
</ng-container>

<ng-container *ngIf="item.type === 'button'">
  <button mat-flat-button color="primary" cdkDrag [ngStyle]="item.style">
    button
  </button>

  <app-form-settings
    [item]="item.style"
    *ngIf="idx"
    [idx]="idx"
  ></app-form-settings>
</ng-container>

<ng-container *ngIf="item.type === 'checkbox'">
  <mat-checkbox color="primary" cdkDrag [ngStyle]="item.style">
    checkbox
  </mat-checkbox>

  <app-form-settings
    [item]="item.style"
    *ngIf="idx"
    [idx]="idx"
  ></app-form-settings>
</ng-container>

<ng-container *ngIf="item.type === 'select'">
  <mat-form-field>
    <mat-label>select</mat-label>
    <mat-select cdkDrag [ngStyle]="item.style">
      <mat-option value="option">option</mat-option>
    </mat-select>
  </mat-form-field>

  <app-form-settings
    [item]="item.style"
    *ngIf="idx"
    [idx]="idx"
  ></app-form-settings>
</ng-container>

<ng-container *ngIf="item.type === 'textarea'">
  <mat-form-field cdkDrag>
    <mat-label>textarea</mat-label>
    <textarea matInput [ngStyle]="item.style"></textarea>
  </mat-form-field>

  <app-form-settings
    [item]="item.style"
    *ngIf="idx"
    [idx]="idx"
  ></app-form-settings>
</ng-container>
