* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}
header {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

header a.active {
  position: relative;
}

header a.active::after {
  position: absolute;
  content: "";
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.25rem;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.87);
}

header a[color].active::after {
  background-color: #fff;
}
