<header>
  <a
    mat-flat-button
    routerLink=""
    *ngIf="authService.isLogged"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </a>
  <a mat-flat-button disabled routerLink="" *ngIf="!authService.isLogged">
    Home
  </a>
  <a
    mat-flat-button
    color="accent"
    routerLink="login"
    routerLinkActive="active"
    *ngIf="!authService.isLogged"
  >
    Login
  </a>
  <a
    mat-flat-button
    color="accent"
    (click)="logout()"
    routerLinkActive="active"
    *ngIf="authService.isLogged"
  >
    Logout
  </a>
</header>
<router-outlet></router-outlet>
