<main class="main">
  <section class="styles">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> General styles </mat-panel-title>
        </mat-expansion-panel-header>
        {{ sub.formProp.style | json }}
        <mat-form-field>
          <mat-label>Styles</mat-label>
          <input matInput (keydown.enter)="onEnterClick($event.target.value)" />
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel
        *ngFor="let panel of sub.formElementList; let idx = index"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ panel.type }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        {{ sub.formElementList[idx].style | json }}
        <mat-form-field>
          <mat-label>Styles</mat-label>
          <input
            matInput
            (keydown.enter)="onEnterClick($event.target.value, idx)"
          />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <section class="builder">
    <form
      [ngStyle]="sub.formProp.style"
      cdkDropList
      #formList="cdkDropList"
      [cdkDropListData]="sub.formElementList"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-form-field
        *ngFor="let item of sub.formElementList; let i = index"
        cdkDrag
      >
        <mat-label>{{ item.type | json }}</mat-label>
        <input
          cdkDrag
          matInput
          [ngStyle]="sub.formElementList[i]?.style"
          (keydown.enter)="onEnterClick($event.target.value)"
        />
      </mat-form-field>
    </form>
  </section>

  <section class="elements">
    <form
      cdkDropList
      cdkDropListSortingDisabled
      #todoList="cdkDropList"
      [cdkDropListData]="sub.elementList"
      [cdkDropListConnectedTo]="[formList]"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-form-field *ngFor="let item of sub.elementList" cdkDrag>
        <mat-label>{{ item.type | json }}</mat-label>
        <input matInput (keydown.enter)="onEnterClick($event.target.value)" />
      </mat-form-field>
    </form>
  </section>
</main>
