<main class="main">
  <section class="styles">
    <mat-accordion>
      <ng-container *ngrxLet="portalService.portal$; let portal">
        <ng-container *ngIf="!portal">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> General styles </mat-panel-title>
            </mat-expansion-panel-header>
            {{ formStyle$ | ngrxPush | json }}
            <mat-form-field>
              <mat-label>Styles</mat-label>
              <input
                matInput
                (keydown.enter)="onEnterClick($event.target.value)"
              />
            </mat-form-field>
          </mat-expansion-panel>
        </ng-container>

        <ng-container *ngIf="portal">
          <mat-expansion-panel
            *ngFor="let panel of formElementList$ | ngrxPush; let idx = index"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ panel.type }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template [cdkPortalOutlet]="portalOutlet"></ng-template>

            <mat-form-field>
              <mat-label>Styles</mat-label>
              <input
                matInput
                (keydown.enter)="onEnterClick($event.target.value, idx)"
              />
            </mat-form-field>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>
    </mat-accordion>
  </section>

  <section class="builder">
    <form
      [ngStyle]="formStyle$ | ngrxPush"
      cdkDropList
      #formList="cdkDropList"
      [cdkDropListData]="formElementList"
      (cdkDropListDropped)="drop($event)"
    >
      <app-form-checking
        *ngFor="let item of formElementList$ | ngrxPush; let idx = index"
        [item]="item"
        [idx]="idx"
      >
      </app-form-checking>
    </form>
  </section>

  <section class="elements">
    <form
      cdkDropList
      cdkDropListSortingDisabled
      #todoList="cdkDropList"
      [cdkDropListData]="elementList$ | ngrxPush"
      [cdkDropListConnectedTo]="[formList]"
      (cdkDropListDropped)="drop($event)"
    >
      <app-form-checking
        *ngFor="let item of elementList$ | ngrxPush"
        [item]="item"
      ></app-form-checking>
    </form>
  </section>
</main>
