<main class="main">
  <section class="styles">
    <mat-accordion [formGroup]="form">
      <ng-container *ngrxLet="portalService.portal$; let portal">
        <ng-container>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> General styles </mat-panel-title>
            </mat-expansion-panel-header>
            <pre>{{ formProp$ | ngrxPush | text }}</pre>
            <app-input
              placeholder="write styles here"
              formControlName="form"
              (enterClick)="onEnterClick($event.target.value)"
            ></app-input>
          </mat-expansion-panel>
        </ng-container>

        <ng-container *ngIf="portal">
          <mat-expansion-panel
            *ngFor="let panel of formElementList$ | ngrxPush; let idx = index"
            (opened)="openGroup(idx)"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ panel.value + idx }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-template [cdkPortalOutlet]="portalOutlet"></ng-template>

            <app-input
              placeholder="write styles here"
              formControlName="input"
              (enterClick)="onEnterClick($event.target.value, idx)"
            ></app-input>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>
    </mat-accordion>
  </section>

  <section class="builder">
    <form
      [ngStyle]="formProp$ | ngrxPush"
      cdkDropList
      #formList="cdkDropList"
      [cdkDropListData]="formElementList"
      (cdkDropListDropped)="drop($event)"
    >
      <app-form-fields
        *ngFor="let item of formElementList$ | ngrxPush; let idx = index"
        [item]="item"
        [idx]="idx"
      >
      </app-form-fields>
    </form>
  </section>

  <section class="elements">
    <form
      cdkDropList
      cdkDropListSortingDisabled
      #todoList="cdkDropList"
      [cdkDropListData]="elementList$ | ngrxPush"
      [cdkDropListConnectedTo]="[formList]"
      (cdkDropListDropped)="drop($event)"
    >
      <app-form-fields
        *ngFor="let item of elementList$ | ngrxPush"
        [item]="item"
        placeholder="input"
      ></app-form-fields>
    </form>
  </section>
</main>
