<ng-container *ngIf="item.value === type.Input">
  <app-input
    cdkDrag
    [ngStyle]="item.style"
    [placeholder]="isPlaceholder(item)"
    [required]="item.style.required"
    [type]="item.type"
  >
  </app-input>

  <app-form-settings [item]="item.style" [idx]="idx"></app-form-settings>
</ng-container>

<ng-container *ngIf="item.value === type.Button">
  <button mat-flat-button color="primary" cdkDrag [ngStyle]="item.style">
    {{ isPlaceholder(item) }}
  </button>

  <app-form-settings [item]="item.style" [idx]="idx"></app-form-settings>
</ng-container>

<ng-container *ngIf="item.value === type.Checkbox">
  <mat-checkbox color="primary" cdkDrag [ngStyle]="item.style">
    {{ isPlaceholder(item) }}
  </mat-checkbox>

  <app-form-settings [item]="item.style" [idx]="idx"></app-form-settings>
</ng-container>

<ng-container *ngIf="item.value === type.Select">
  <mat-form-field class="field" cdkDrag>
    <mat-label>{{ isPlaceholder(item) }}</mat-label>
    <mat-select [ngStyle]="item.style">
      <mat-option value="option">option</mat-option>
    </mat-select>
  </mat-form-field>

  <app-form-settings [item]="item.style" [idx]="idx"></app-form-settings>
</ng-container>

<ng-container *ngIf="item.value === type.Textarea">
  <mat-form-field class="field" cdkDrag>
    <mat-label>{{ isPlaceholder(item) }}</mat-label>
    <textarea matInput [ngStyle]="item.style"></textarea>
  </mat-form-field>

  <app-form-settings [item]="item.style" [idx]="idx"></app-form-settings>
</ng-container>
